<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>New bike</title>
</head>
<body>
    <div id="root">
        <form action="" method="POST">
            <div class="mb-2">
                <label for="" class="form_label">Model</label>
                <input type="text" name="model" placeholder="Honda"> <br>
            </div>
            
            <div class="mb-2">
                <label for="" class="form_label">Daily fee (VND)</label>
                <input type="number" name="fee" placeholder="100000"> <br>
            </div>
            
            <div class="mb-2">
                <label for="" class="form_label">Image</label>
                <input type="text" name="image" placeholder="http://www.hondaprokevin.com/motorcycles-models/2016"> <br>
            </div>

            <div class="mb-2">
                <label for="" class="form_label">Year</label>
                <input type="number" name="year" placeholder="2016"> <br>
            </div>

            <button>Submit</button> 
        </form> 
    </div>
</body>
</html>