<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BMI</title>
</head>
<body>
    {% if BMI < 16 %}
        <h1>You are {{ table["1"] }}</h1>
    {% elif BMI < 18.5 %}
        <h1>You are {{ table["2"] }}</h1>
    {% elif BMI < 25 %}
        <h1>You are {{ table["3"] }}</h1>
    {% elif BMI < 30 %}
        <h1>You are {{ table["4"] }}</h1>
    {% else %}
        <h1>You are {{ table["5"] }}</h1>
    {% endif %}
</body>
</html>