<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thanh Ha Ng Le</title>
</head>
<body>
    <h1>Hello, I'm {{ me["name"] }}</h1>

    <br>

    <p>I'm a {{ me["work"] }} at {{ me["school"] }}</p>
    <p>This is my design portfolio where I share all of my favorite work. When I'm not designing things, I enjoy {{ me["hobbies"] }} and more.</p>  
   
    <br>

    <p>If you'd like to add friend me on Facebook, my username is <a href="https://www.facebook.com/harley.ngn" target="#">Thanh Ha Ng Le</a></p>
</body>
</html>